<div *ngIf="currentWeather$ | async as currentWeather">
    <div fxLayout="row">
        <div fxFlex="60%" class="mat-title no-margin">{{currentWeather?.city}}, {{currentWeather?.country}}</div>
        <div fxFlex class="right mat-h3 no-margin">{{currentWeather?.date|date:'EEEE MMM d'}}</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="50%">
            <img [src]="currentWeather.image" />
        </div>
        <div fxFlex class="right mat-display-3 no-margin">
            {{currentWeather?.temperature|number:'1.0-0'}}
            <span class="mat-display-1 unit">˚C</span>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
        {{currentWeather?.description}}
    </div>
</div>